//给项目提供scss全局变量

$base-menu-width: 360px; //菜单宽度
$base-menu-background:#001529; //菜单背景色
$base-tabbar-height:90px; //tabbar高度

$base-menu-logo-height:50px; //菜单logo高度
$base-logo-title-fontsize:23px; //logo标题字体大小
$base-menu-min-width:80px